# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Test caches
.pytest_cache/
.coverage
htmlcov/

# Environments
.venv/
venv/
ENV/

# Editor / IDE artifacts
.idea/
.vscode/
*.swp
*.swo

# OS artifacts
Thumbs.db
Desktop.ini
.DS_Store
